@import "variables.less";

@menu-font-size: @header-size / 1.2;

.top-menu {
    padding-top: 1em;
    padding-bottom: 1em;

    a {
        text-decoration: none;
    }

    .logo {
        width: @logo-size;
        height: auto;
        float: left;
    }

    .logo-name {
        float: left;
        margin-top: @header-size / 10;

        h1 {
            font-family: TarzanaWide;
            color: #0088c3;
            margin-top: 0;
            margin-bottom: 0;
            margin-left: 0.7em;
            font-size: @header-size;
            text-transform: uppercase;
            text-align: center;
        }
    }

    @media (max-width: 768px) {
        .left-menu {
            text-align: center;
                
            .logo, .logo-name {
                float:none !important;
            }
        }
    }

    .right-menu {
        font-size: @menu-font-size;
        margin-top: @menu-font-size / 1.8;
        text-align: center;
        
        ul {
            list-style-type: none;
        }

        li {
            display: inline;
        }
    }
}
