<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="4.48.4489.28432" targetFramework="net40" />
  <package id="dotless" version="1.4.1.0" targetFramework="net40" />
  <package id="Nancy" version="1.1" targetFramework="net40" />
  <package id="Nancy.Hosting.Aspnet" version="1.1" targetFramework="net40" />
  <package id="SquishIt" version="0.9.7" targetFramework="net40" />
  <package id="SquishIt.Less" version="0.9.7" targetFramework="net40" />
  <package id="WebActivator" version="1.4" targetFramework="net40" />
  <package id="YUICompressor.NET" version="2.0.0.0" targetFramework="net40" />
</packages>